body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 115%;
}

header {
    background-color: lightgray;
}

nav {
    display: inline-block;
    width: 80%;
    background-color: lightgray;
}

.flex {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

main {
    background-color: yellow;
    font-size: 150%;
}

footer {
    background-color: lightgray;
    font-weight: bold;
}

li {
    display: inline;
    width: 20%;
}


h1 {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: darkblue;
}

p {
    line-height: 1.2;
}

header img {
    display: inline-block;
    width: 10%;
    position: relative;
    top: 20px;
}

.grid {
    display: grid;
    grid-template-columns: 40% 40%;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
}

.grid img {
    width: 100%;
}